@use '../../abstracts/tokens' as tokens;

.bez-kart-activation::part(popup-body) {
  @media (min-width: tokens.$breakpoint-desktop) {
    align-items: center;
  }
}

.bez-kart-activation::part(popup-close) {
  @media (min-width: tokens.$breakpoint-desktop) {
    display: none;
  }
}

.bez-kart-activation::part(popup-dialog) {
  max-width: 800px;
  overflow: visible;
  background: #fff;
  border-radius: 16px;
}

.bez-kart-activation::part(popup-content) {
  position: relative;
  gap: 0;

  @media (max-width: tokens.$breakpoint-desktop) {
    padding: 0;
  }
}

.bez-kart-activation__close {
  @media (max-width: tokens.$breakpoint-desktop) {
    display: none;
  }
}
