@use '../abstracts/tokens' as tokens;

.s-kartami-tooltip {
  margin: 0;
}

.s-kartami-tooltip__title {
  margin: 0;
  font-size: 14px;

  @media (min-width: tokens.$breakpoint-desktop) {
    font-size: 16px;
  }
}

.s-kartami-tooltip__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
  font-size: 14px;

  @media (min-width: tokens.$breakpoint-desktop) {
    font-size: 16px;
  }
}

.s-kartami-tooltip__content[popover] {
  position: fixed;
  inset: auto;
  display: flex;
  align-items: flex-start;
  gap: 4px;
  width: auto;
  height: auto;
  margin: 0;
  padding: 24px 32px 20px 16px;
  overflow-y: auto;
  border: none;
  border-radius: 18px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.10);
}

.s-kartami-tooltip__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: none;
}

.s-kartami-tooltip-trigger {
  display: flex;
  width: 24px;
  height: 24px;
  margin-top: auto;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: none;

  @media (min-width: tokens.$breakpoint-desktop) {
    position: absolute;
    top: 12px;
    right: 12px;
    margin-top: 0;
  }
}

.s-kartami-tooltip__content[popover]::backdrop {
  background-color: rgb(0 0 0 / 0.3);
}

.s-kartami-tooltip__content[popover]:not(:popover-open) {
  display: none;
}
